<div class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" [routerLink]="['/login']">Logo</a>
  
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink] ="['/student']" >Student</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/studentdetails']">Student Details</a>
      </li>
  
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Dropdown link
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </li>
    </ul>
  </nav>
  <main>
    <div> 
      <button (click)="student('list')">show student</button><br>
      <button (click)="student('details')">show student</button>
    </div>
    <router-outlet></router-outlet>
  </main>
  <div>Footer</div>
</div>